@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body{
    width: 1120px; 
    margin: 20px auto; 
    padding: 20px; 
}

header{
    text-align: center; 
    background-image: url(../images/header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    position: sticky;
    top: 0;
}

header h1 {
    color: white; 
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 14px;
    text-shadow: 2px 2px #5e5959;
}

h1 {
    font-family: 'Nunito', sans-serif;
    margin-left: 10px;
}

header h2 {
    color: white; 
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    letter-spacing: 7px;
    text-shadow: 2px 2px #5e5959;
}

nav {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404144), to(#000000));
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 10px;
    position: sticky;
    top: 210px;
}

nav a{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 30px; 
}

main {
    width: 800px; 
    float: right; 
}

img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

figcaption {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

aside h3 {
    border-left: 5px solid #000;
    margin-left: 10px;
    padding: 10px;
    text-transform: uppercase;
}

aside {
    width: 300px; 
    float: left; 
    background-color: #c9c7c7;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 20px;
    margin: 10px;
}

aside li {
    line-height: 30px; 
    padding-left: 5px;
    font-weight: bold;
}

footer{
    clear: both; 
    text-align: center; 
    font-family: 'Nunito', sans-serif;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404144), to(#000000));
    color: white;
    padding: 20px 0; 
    margin-top: 10px;
    font-size: 20px; 
}

@media only screen and (max-width: 767px) {
    body{
        padding: 2%;
        width: 94%;
    }
    nav a{
        padding: 0 20px;
    }
    main {
        width: 100%;
    }
    aside {
        width: 100%;
    }
}